views/blog.jade
extends layout

block content
  link(href='/feeds/memos/rss', rel='alternate', type='application/rss+xml', title="Follow The Hacked Genicken Classified Memos")
  // Start: Main
  .miniheader
  section#blog
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Genicken Internal Memos 
          img(src='/img/hbm.png', alt='Hacked By Monogamous')
          h3.section-subheading CONFIDENTIAL - not for Public Release
            br
            | Hacked by 
            a(href="https://www.facebook.com/MonogamousActivistHackers", alt="Monogamous! unexpected!") Monogamous
      .row
        .col-lg-8
          h4 Recent Memos:
          .blog-archive
            - var counter = 0
            each post in flatPosts
              - counter = counter + 1
              article.blog-post
                .blog-post-header
                  h1.blog-post-headline 
                    a(href='#{post.url}') #{post.name}
                != templateRender(post.path.substr(2), context)
                footer.blog-post-footer
                p
                  a.button(href='#{post.url}')
                    button.btn.btn-primary(type="button") Continue Reading
                  
              if counter === 1
            .pagination.text-center
              if previous !== null
                a.prev.page-numbers(href='/blog/' + previous)
                  i.fa.fa-caret-left
              //a.page-numbers(href='#') 1
              //span.page-numbers.current 2
              //a.page-numbers(href='#') 3
              if next !== null
                a.next.page-numbers(href='/blog/' + next)
                  i.fa.fa-caret-right
          include includes/twoAdUnit.jade
        .col-lg-4.bg-light-gray
          include includes/blogArchive.jade
          include includes/sideBarAd.jade

build/web/blog.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="description" content=""><meta name="author" content=""><link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png"><link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png"><link rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png"><link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png"><link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png"><link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"><link rel="manifest" href="manifest.json"><meta name="msapplication-TileColor" content="#ffffff"><meta name="msapplication-TileImage" content="/ms-icon-144x144.png"><meta name="theme-color" content="#ffffff"><title>Genicken Corporation</title><!-- Bootstrap Core CSS--><link href="css/bootstrap.min.css" rel="stylesheet"><!-- Custom CSS--><link href="css/agency.css" rel="stylesheet"><!-- Custom Fonts--><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"><!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries--><!-- WARNING: Respond.js doesn't work if you view the page via file://--><!--if lt IE 9script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')--><script async="" src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script></head><body class="home"><!-- Google Tag Manager--><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M6KKPJ');</script><!-- End Google Tag Manager--><nav class="navbar navbar-default navbar-fixed-top"><div class="container"><!-- Get the scrolling to work on home page--><!-- Brand and toggle get grouped for better mobile display--><div class="navbar-header page-scroll"><button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html#page-top" class="navbar-brand page-scroll"><img src="img/Genicken.png"></a></div><!-- Collect the nav links, forms, and other content for toggling--><div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse"><ul class="nav navbar-nav navbar-right"><li class="hidden"><a href="index.html#page-top"></a></li><li><a href="index.html#services" class="page-scroll">Services</a></li><li><a href="index.html#portfolio" class="page-scroll">Projects</a></li><li><a href="index.html#about" class="page-scroll">About</a></li><li><a href="index.html#team" class="page-scroll">Team</a></li><li><a href="index.html#contact" class="page-scroll">Contact</a></li><li><a href="blog.html" class="page-scroll">Confidential</a></li></ul></div><!-- /.navbar-collapse--></div><!-- /.container-fluid--></nav><link href="feeds/memos/rss.html" rel="alternate" type="application/rss+xml" title="Follow The Hacked Genicken Classified Memos"><!-- Start: Main--><div class="miniheader"></div><section id="blog"><div class="container"><div class="row"><div class="col-lg-12 text-center"><h2 class="section-heading">Genicken Internal Memos </h2><img src="img/hbm.png" alt="Hacked By Monogamous"><h3 class="section-subheading">CONFIDENTIAL - not for Public Release<br>Hacked by <a href="https://www.facebook.com/MonogamousActivistHackers" alt="Monogamous! unexpected!">Monogamous</a></h3></div></div><div class="row"><div class="col-lg-8"><h4>Recent Memos:</h4><div class="blog-archive"><article class="blog-post"><div class="blog-post-header"><h1 class="blog-post-headline"> <a href="posts/2015/09/Cheney&#32;-&#32;Halliburton&#32;Experiment.html">Cheney - Halliburton Experiment</a></h1></div><!-- Excerpt view--><div class="blog-post-info">Hacked on <time datetime="2015-9-23">Wed Sep 23 2015</time>. <i class="fa fa-comments"></i></div><div class="blog-post-image"></div><div class="simple-slider"><div class="simple-slide"><img src="img/posts/2015/09/Cheney.jpg" alt="Cheney Haliburton" class="img-responsive"></div><!--.simple-slideimg(src='/img/posts/2015/09/Blockbuster.jpg', alt='Blockbuster Video')--></div><div class="blog-post-excerpt"></div><h2 class="blog-post-headline">Insitu Human-Corporate Hybridization Experiment Phase II</h2><h3>Experiment Date: 09/08/2008</h3><h4>Status: <button type="button" class="btn btn-danger">FAILURE</button></h4><h5>Hypothesis</h5><p>This is our second attempt at insitu hybridization of a Human/Corporate life form. This time we are using an unDead/partially robotic Human donor, Dick Cheney and a Hugely successful Corporation that was arguably made in his own image. 
We anticipate that the closer alignment of purpose and goals may alleviate the rejection of the other half by either of the entities.</p><p class="tags"><i class="fa fa-tag"></i><a href="blog.html#">Human</a>, <a href="blog.html#">Corporate</a>, <a href="blog.html#">Experimentation</a>, </p><!-- End: Excerpt-->
<footer class="blog-post-footer"></footer><p><a href="posts/2015/09/Cheney&#32;-&#32;Halliburton&#32;Experiment.html" class="button"><button type="button" class="btn btn-primary">Continue Reading</button></a></p></article><article class="blog-post"><div class="blog-post-header"><h1 class="blog-post-headline"> <a href="posts/2015/09/Cage&#32;-&#32;Blockbuster&#32;Experiment.html">Cage - Blockbuster Experiment</a></h1></div><!-- Excerpt view--><div class="blog-post-info">Hacked on <time datetime="2015-9-21">Mon Sep 21 2015</time>. <i class="fa fa-comments"></i></div><div class="blog-post-image"></div><div class="simple-slider"><div class="simple-slide"><img src="img/posts/2015/09/Cage.jpg" alt="Nicholas Cage" class="img-responsive"></div><!--.simple-slideimg(src='/img/posts/2015/09/Blockbuster.jpg', alt='Blockbuster Video')--></div><div class="blog-post-excerpt"></div><h2 class="blog-post-headline">Insitu Human-Corporate Hybridization Experiment</h2><h3>Experiment Date: 06/23/2008</h3><h4>Status: <button type="button" class="btn btn-danger">FAILURE</button></h4><p>In early 2008 we attempted the insitu hybridization of our first Human/Corporate life form. We attempted to use two of the most 
sucessful beings around. Nicholas Cage and Blockbuster Video.</p><p class="tags"><i class="fa fa-tag"></i><a href="blog.html#">Human</a>, <a href="blog.html#">Corporate</a>, <a href="blog.html#">Experimentation</a>, </p><!-- End: Excerpt-->
<footer class="blog-post-footer"></footer><p><a href="posts/2015/09/Cage&#32;-&#32;Blockbuster&#32;Experiment.html" class="button"><button type="button" class="btn btn-primary">Continue Reading</button></a></p></article><div class="pagination text-center"><!--a.page-numbers(href='#') 1--><!--span.page-numbers.current 2--><!--a.page-numbers(href='#') 3--></div></div><!-- Start: twoAdUnit--><section id="advertising" class="bg-light-gray"><div class="container"><div class="row"><div class="col-lg-8 text-center"><h2 class="section-heading">Paid Advertising</h2><h3 class="section-subheading text-muted">Because we want to make money from everything we do.</h3></div></div><div class="row"><div class="col-md-4 advertising-item text-center"><!-- Mid Page Left - Genicken--><ins style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-5449524532012541" data-ad-slot="7768556623" class="adsbygoogle"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div><div class="col-md-4 advertising-item text-center"><!-- Mid Page Center - Genicken--><ins style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-5449524532012541" data-ad-slot="9245289822" class="adsbygoogle"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div></div></div></section><!-- End: twoAdUnit--></div><div class="col-lg-4 bg-light-gray"><div class="widget nocontent"><h4 class="widget-title deco-headline"> <a href="blog.html">Memo Archive</a></h4><div class="widget-content"><ul id="blogArchive" class="widget-list"><li><a href="blog.html">Archive</a><ul class="collapsibleList"><li><a href="blog.html#" onclick="event.preventDefault();">2015</a><ul class="collapsibleList"><li><a href="blog.html#" onclick="event.preventDefault();">09</a><ul class="collapsibleList"><li><a href="posts/2015/09/Cheney&#32;-&#32;Halliburton&#32;Experiment.html">Cheney - Halliburton Experiment</a></li><li><a href="posts/2015/09/Cage&#32;-&#32;Blockbuster&#32;Experiment.html">Cage - Blockbuster Experiment</a></li></ul></li></ul></li></ul></li></ul></div></div><div class="col-md-4 advertising-item"><!-- Mid Page Right - Genicken--><ins style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-5449524532012541" data-ad-slot="1722023025" class="adsbygoogle"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div></div></div></div></section><!-- Start: Footer--><footer><div class="footer-main"><div class="container"><div class="row"><div class="col-md-4"><span class="copyright">Copyright © 2015 - Dave Hampton</span></div><div class="col-md-4"><h5><a href="http://www.jacksonfriggle.com">Genicken Corporation Proudly Supports Jackson Friggle.</a></h5></div><div class="col-md-4"><ul class="list-inline quicklinks"><li><a href="privacy.html">Privacy Policy & Terms of Use</a></li><li><a href="portfolio/photoCredits.html" class="portfolio-link">Photo Credits</a></li><li><a href="index.html#contact">Contact Us</a></li></ul></div></div></div></div><div class="container social-mobile show-mobile-bottom bg-light-gray"><div class="row"><div class="col-md-4 text-right min-padding hidden-xs"><h4>Share <i class="fa fa-arrow-right"></i></h4></div><div class="col-md-4 text-center min-padding"><ul class="list-inline social-buttons"><li><a target="_blank" href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Flocalhost%3A8080%2Fblog&amp;t=Genicken%20%20-%20Genicken%20Internal%20Blog" title="Share To Facebook" class="social-button social-facebook"><i class="fa fa-facebook"></i></a></li><li><a target="_blank" href="https://www.twitter.com/share?text=Genicken%20%20-%20Genicken%20Internal%20Blog&amp;url=http%3A%2F%2Flocalhost%3A8080%2Fblog" title="Tweet" class="social-button social-twitter"><i class="fa fa-twitter"></i></a></li><li><a target="_blank" href="https://www.reddit.com/submit?url=http%3A%2F%2Flocalhost%3A8080%2Fblog&amp;title=Genicken%20%20-%20Genicken%20Internal%20Blog" title="Submit to Reddit" class="social-button social-reddit"><i class="fa fa-reddit"></i></a></li><li><a target="_blank" href="https://plus.google.com/share?url=http%3A%2F%2Flocalhost%3A8080%2Fblog&amp;t=Genicken%20%20-%20Genicken%20Internal%20Blog" title="Share To Google+" class="social-button social-google-plus"><i class="fa fa-google-plus"></i></a></li><li><a target="_blank" href="https://www.tumblr.com/share?v=3&amp;u=http%3A%2F%2Flocalhost%3A8080%2Fblog&amp;t=Genicken%20%20-%20Genicken%20Internal%20Blog" title="Post to Tumblr" class="social-button social-tumblr"><i class="fa fa-tumblr"></i></a></li><li><a href="mailto:?subject=OMG! This is Awesome: Genicken  - Genicken Internal Blog&amp;body=http://localhost:8080/blog" title="Email" class="social-button social-envelope"><i class="fa fa-envelope"></i></a></li></ul></div><div class="col-md-4 text-right min-padding hidden-xs"></div></div></div></footer><!-- jQuery--><script src="js/jquery.js"></script><!-- Bootstrap Core JavaScript--><script src="js/bootstrap.min.js"></script><!-- Plugin JavaScript--><script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script><script src="js/classie.js"></script><script src="js/cbpAnimatedHeader.js"></script><!-- Contact Form JavaScript--><script src="js/jqBootstrapValidation.js"></script><script src="js/contact_me.js"></script><!-- Custom Theme JavaScript--><script src="js/agency.js"></script><script src="js/collapsibleLists.min.js"></script><script>CollapsibleLists.apply();
$('ul:first, ul:first ul:first, ul:first ul:first ul:first', '#blogArchive').css('display', 'block')</script></body></html>
