build/web/index.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="description" content=""><meta name="author" content=""><link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png"><link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png"><link rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png"><link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png"><link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png"><link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"><link rel="manifest" href="manifest.json"><meta name="msapplication-TileColor" content="#ffffff"><meta name="msapplication-TileImage" content="/ms-icon-144x144.png"><meta name="theme-color" content="#ffffff"><title>Genicken Corporation</title><!-- Bootstrap Core CSS--><link href="css/bootstrap.min.css" rel="stylesheet"><!-- Custom CSS--><link href="css/agency.css" rel="stylesheet"><!-- Custom Fonts--><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"><!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries--><!-- WARNING: Respond.js doesn't work if you view the page via file://--><!--if lt IE 9script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')--><script async="" src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script></head><body class="home"><!-- Google Tag Manager--><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M6KKPJ');</script><!-- End Google Tag Manager--><nav class="navbar navbar-default navbar-fixed-top"><div class="container"><!-- Get the scrolling to work on home page--><!-- Brand and toggle get grouped for better mobile display--><div class="navbar-header page-scroll"><button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html#page-top" class="navbar-brand page-scroll"><img src="img/Genicken.png"></a></div><!-- Collect the nav links, forms, and other content for toggling--><div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse"><ul class="nav navbar-nav navbar-right"><li class="hidden"><a href="index.html#page-top"></a></li><li><a href="index.html#services" class="page-scroll">Services</a></li><li><a href="index.html#portfolio" class="page-scroll">Projects</a></li><li><a href="index.html#about" class="page-scroll">About</a></li><li><a href="index.html#team" class="page-scroll">Team</a></li><li><a href="index.html#contact" class="page-scroll">Contact</a></li><li><a href="blog.html" class="page-scroll">Confidential</a></li></ul></div><!-- /.navbar-collapse--></div><!-- /.container-fluid--></nav><!-- Header--><header><div class="container"><div class="intro-text"><div class="intro-lead-in">A Bright Future Through Genetic Experimentation</div><div class="intro-heading">Genicken</div><a href="index.html#services" class="page-scroll btn btn-xl">Tell Me More</a></div></div></header><!-- Advertising Grid Section--><!-- Start: Mid Ad Grid--><!-- Advertising Grid Section--><section id="advertising" class="bg-light-gray"><div class="container"><div class="row"><div class="col-lg-12 text-center"><h2 class="section-heading">Paid Advertising</h2><h3 class="section-subheading text-muted">Because we want to make money from everything we do.</h3></div></div><div class="row"><div class="col-md-4 advertising-item"><!-- Mid Page Left - Genicken--><ins style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-5449524532012541" data-ad-slot="7768556623" class="adsbygoogle"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div><div class="col-md-4 advertising-item"><!-- Mid Page Center - Genicken--><ins style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-5449524532012541" data-ad-slot="9245289822" class="adsbygoogle"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div><div class="col-md-4 advertising-item"><!-- Mid Page Right - Genicken--><ins style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-5449524532012541" data-ad-slot="1722023025" class="adsbygoogle"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});
</script></div></div></div></section><!-- End: Mid Ad Grid--><!-- Services Section--><section id="services"><div class="container"><div class="row"><div class="col-lg-12 text-center"><h2 class="section-heading">Services</h2><h3 class="section-subheading text-muted">The Future is in Our Hands.</h3></div></div><div class="row text-center"><div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-flask fa-stack-1x fa-inverse"></i></span><h4 class="service-heading">Genetic Modification</h4><p class="text-muted">We specialize and are FDA approved for the Genetic Modification of Animals for use in human consumption.</p></div><div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-rocket fa-stack-1x fa-inverse"></i></span><h4 class="service-heading">Biological Weaponization</h4><p class="text-muted">From weapons grade hamsters to self-detonating badgers, our creations are giving the U.S. Military the tools it needs for world peace.</p></div><div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-user-md fa-stack-1x fa-inverse"></i></span><h4 class="service-heading">Animal Testing</h4><p class="text-muted">We're one of the few resources left that will allow you to safely test your products on hapless rabbits.</p></div></div></div></section><!-- Portfolio Grid Section--><section id="portfolio" class="bg-light-gray"><div class="container"><div class="row"><div class="col-lg-12 text-center"><h2 class="section-heading">Projects</h2><h3 class="section-subheading text-muted">The World of Genetics is in our hands.</h3></div></div><div class="row"><div class="col-md-4 col-sm-6 portfolio-item"><a href="portfolio/geneticModification.html" class="portfolio-link"><div class="portfolio-hover"><div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div></div><img src="img/portfolio/chicken-preview.jpg" alt="" class="img-responsive"></a><div class="portfolio-caption"><h4>Genetic Modification</h4><p class="text-muted">The Future of Chicken</p></div></div><div class="col-md-4 col-sm-6 portfolio-item"><a href="portfolio/weaponsGradeHamsters.html" class="portfolio-link"><div class="portfolio-hover"><div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div></div><img src="img/portfolio/hamster-preview.jpg" alt="" class="img-responsive"></a><div class="portfolio-caption"><h4>Weapons Grade Hamsters</h4><p class="text-muted">Giving New Power to Gerbils</p></div></div><div class="col-md-4 col-sm-6 portfolio-item"><a href="portfolio/selfDetonatingMammals.html" class="portfolio-link"><div class="portfolio-hover"><div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div></div><img src="img/portfolio/badger-preview.jpg" alt="" class="img-responsive"></a><div class="portfolio-caption"><h4>Self-Detonating Badgers</h4><p class="text-muted">Who knew, Right?!</p></div></div><div class="col-md-4 col-sm-6 portfolio-item"><a href="portfolio/geneticTargeting.html" class="portfolio-link"><div class="portfolio-hover"><div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div></div><img src="img/portfolio/shopping-preview.jpg" alt="" class="img-responsive"></a><div class="portfolio-caption"><h4>Genetic Targeting</h4><p class="text-muted">We Know Who Is Born To Shop</p></div></div><div class="col-md-4 col-sm-6 portfolio-item"><a href="portfolio/cloning.html" class="portfolio-link"><div class="portfolio-hover"><div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div></div><img src="img/portfolio/cloning-preview.jpg" alt="" class="img-responsive"></a><div class="portfolio-caption"><h4>Cloning</h4><p class="text-muted">Again & Again</p></div></div><div class="col-md-4 col-sm-6 portfolio-item"><a href="portfolio/bulkOrganSales.html" class="portfolio-link"><div class="portfolio-hover"><div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div></div><img src="img/portfolio/organ-preview.jpg" alt="" class="img-responsive"></a><div class="portfolio-caption"><h4>Bulk Organ Sales</h4><p class="text-muted">Pending Legislation</p></div></div></div></div></section><!-- About Section--><section id="about"><div class="container"><div class="row"><div class="col-lg-12 text-center"><h2 class="section-heading">About</h2><h3 class="section-subheading text-muted">Our Story</h3></div></div><div class="row"><div class="col-lg-12"><ul class="timeline"><li><div class="timeline-image"><img src="img/about/1.jpg" alt="" class="img-circle img-responsive"></div><div class="timeline-panel"><div class="timeline-heading"><h4>1951 - 1973</h4><h4 class="subheading">Our Humble Beginnings</h4></div><div class="timeline-body"><p class="text-muted">As a lowly chicken farmer in the 1950's, we accidently purchased radiated chicken eggs from a supplier in Nevada. These babies grew at an enormously accelerated rate. It launched our interest and business of augmenting the very DNA of the food we eat.</p></div></div></li><li class="timeline-inverted"><div class="timeline-image"><img src="img/about/2.jpg" alt="" class="img-circle img-responsive"></div><div class="timeline-panel"><div class="timeline-heading"><h4>1974 - 1981</h4><h4 class="subheading">Experiments with Experimentation</h4></div><div class="timeline-body"><p class="text-muted">With the availability of computing, we began to not just experiment, but experiment on our experiments. We mixed and mingled different biological strains with varied genetic strands. We courted with global disaster on the way to breakthrough discoveries.</p></div></div></li><li><div class="timeline-image"><img src="img/about/3.jpg" alt="" class="img-circle img-responsive"></div><div class="timeline-panel"><div class="timeline-heading"><h4>1982 - 1996</h4><h4 class="subheading">Breakthrough Discoveries</h4></div><div class="timeline-body"><p class="text-muted">After nearly destroying the planet through failed experiments (twice!) We finally mastered the technique of Genetic Hyper-Splice Mutilization® Now that we could achieve anything, we had to set our corporate mind on our goals.</p></div></div></li><li class="timeline-inverted"><div class="timeline-image"><img src="img/about/4.jpg" alt="" class="img-circle img-responsive"></div><div class="timeline-panel"><div class="timeline-heading"><h4>1997 - Today</h4><h4 class="subheading">Global Domination</h4></div><div class="timeline-body"><p class="text-muted">Today, we are on the forefront of monetizing genetic identification, modification and militarization. We can modify the genetic strucutre of people in situ, convert them into buyers, and then destroy them at will. It truly is A Bright Future.</p></div></div></li><li class="timeline-inverted"><div class="timeline-image"><h4>Be Part<br>Of Our<br>Story!</h4></div></li></ul></div></div></div></section><!-- Team Section--><section id="team" class="bg-light-gray"><div class="container"><div class="row"><div class="col-lg-12 text-center"><h2 class="section-heading">Our Research Staff</h2><h3 class="section-subheading text-muted">Leaders in Innovation.</h3></div></div><div class="row"><div class="col-sm-4"><div class="team-member"><img src="img/team/1.jpg" alt="" class="img-responsive img-circle"><h4>Chuck "Stallion" Rainey</h4><p class="text-muted">Director of Militarization</p></div><!--ul.list-inline.social-buttons
  li
    a(href='#')
      i.fa.fa-twitter
  li
    a(href='#')
      i.fa.fa-facebook
  li
    a(href='#')
      i.fa.fa-linkedin--></div><div class="col-sm-4"><div class="team-member"><img src="img/team/2.jpg" alt="" class="img-responsive img-circle"><h4>Dr. Sigmund Oppenganger</h4><p class="text-muted">Director of Mutilization Research</p></div><!--ul.list-inline.social-buttons
  li
    a(href='#')
      i.fa.fa-twitter
  li
    a(href='#')
      i.fa.fa-facebook
  li
    a(href='#')
      i.fa.fa-linkedin--></div><div class="col-sm-4"><div class="team-member"><img src="img/team/3.jpg" alt="" class="img-responsive img-circle"><h4>Dr. Ivana Wolfspatz</h4><p class="text-muted">V.P of In Situ Modification Research</p></div><!--ul.list-inline.social-buttons
  li
    a(href='#')
      i.fa.fa-twitter
  li
    a(href='#')
      i.fa.fa-facebook
  li
    a(href='#')
      i.fa.fa-linkedin--></div></div><div class="row"><div class="col-lg-8 col-lg-offset-2 text-center"><p class="large text-muted">Interested in working for Genicken? Use the Contact form below to inquire.<br>(DNA Sample Required)</p></div></div></div></section><!-- Clients Aside--><section class="clients"><div class="container"><div class="row"><div class="col-lg-12 text-center"><h2 class="section-heading text-lowercase">Engineered in <span class="text-capitalize">Alabama</span><sup>&#174;</sup></h2><h3 class="section-subheading text-muted">Proudly Supporting The Future of Alabama.</h3></div></div><!--.row.col-md-3.col-sm-6
  a(href='#')
    img.img-responsive.img-centered(src='img/logos/envato.jpg', alt='')
.col-md-3.col-sm-6
  a(href='#')
    img.img-responsive.img-centered(src='img/logos/designmodo.jpg', alt='')
.col-md-3.col-sm-6
  a(href='#')
    img.img-responsive.img-centered(src='img/logos/themeforest.jpg', alt='')
.col-md-3.col-sm-6
  a(href='#')
    img.img-responsive.img-centered(src='img/logos/creative-market.jpg', alt='')--></div></section><section id="contact"><div class="container"><div class="row"><div class="col-lg-12 text-center"><h2 class="section-heading">Contact Us</h2><h3 class="section-subheading text-muted">We're Probably Already Watching You...</h3></div></div><div class="row"><div class="col-lg-12"><form id="contactForm" name="sentMessage" role="form" method="post" action="http://localhost:8080/submit" validate=""><div class="row"><div class="col-md-6"><div class="form-group"><input id="name" type="text" placeholder="Your Name *" required="" data-validation-required-message="Please enter your name." class="form-control"><p class="help-block text-danger"></p></div><div class="form-group"><input id="email" type="email" placeholder="Your Email *" required="" data-validation-required-message="Please enter your email address." class="form-control"><p class="help-block text-danger"></p></div><div class="form-group"><input id="phone" type="tel" placeholder="Your Phone *" required="" data-validation-required-message="Please enter your phone number." class="form-control"><p class="help-block text-danger"></p></div></div><div class="col-md-6"><div class="form-group"><textarea id="message" placeholder="Your Message *" required="" data-validation-required-message="Please enter a message." class="form-control"></textarea><p class="help-block text-danger"></p></div></div><div class="clearfix"></div><div class="col-lg-12 text-center"><script src="http://www.google.com/recaptcha/api.js" async defer></script><div class="g-recaptcha" data-sitekey="6Ld8DwkTAAAAAMvispfXogJS_B_kozHk0AfL7glG"></div></div><div class="clearfix"></div><div class="col-lg-12 text-center"><div id="success"></div><button type="submit" class="btn btn-xl">Send Message</button></div></div></form></div></div></div></section><!-- Portfolio Modals--><!-- Use the modals below to showcase details about your portfolio projects!--><!-- Portfolio Modal 1--><div id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true" class="portfolio-modal modal fade"><div class="modal-content"><div data-dismiss="modal" class="close-modal"><div class="lr"><div class="rl"></div></div></div><div class="container"><div class="row"><div class="col-lg-8 col-lg-offset-2"><div class="modal-body"><!-- Project Details Go Here--><h2>Project Name</h2><p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img src="img/portfolio/roundicons-free.png" alt="" class="img-responsive"><p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p><p><strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p><ul class="list-inline"><li>Date: July 2014</li><li>Client: Round Icons</li><li>Category: Graphic Design</li></ul><button type="button" data-dismiss="modal" class="btn btn-primary"><i class="fa fa-times"></i> Close Project</button></div></div></div></div></div></div><!-- Portfolio Modal 2--><div id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true" class="portfolio-modal modal fade"><div class="modal-content"><div data-dismiss="modal" class="close-modal"><div class="lr"><div class="rl"></div></div></div><div class="container"><div class="row"><div class="col-lg-8 col-lg-offset-2"><div class="modal-body"><h2>Project Heading</h2><p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img src="img/portfolio/startup-framework-preview.png" alt="" class="img-responsive img-centered"><p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.</p><p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p><button type="button" data-dismiss="modal" class="btn btn-primary"><i class="fa fa-times"></i> Close Project</button></div></div></div></div></div></div><!-- Portfolio Modal 3--><div id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true" class="portfolio-modal modal fade"><div class="modal-content"><div data-dismiss="modal" class="close-modal"><div class="lr"><div class="rl"></div></div></div><div class="container"><div class="row"><div class="col-lg-8 col-lg-offset-2"><div class="modal-body"><!-- Project Details Go Here--><h2>Project Name</h2><p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img src="img/portfolio/treehouse-preview.png" alt="" class="img-responsive img-centered"><p>Treehouse is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.</p><p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p><button type="button" data-dismiss="modal" class="btn btn-primary"><i class="fa fa-times"></i> Close Project</button></div></div></div></div></div></div><!-- Portfolio Modal 4--><div id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true" class="portfolio-modal modal fade"><div class="modal-content"><div data-dismiss="modal" class="close-modal"><div class="lr"><div class="rl"></div></div></div><div class="container"><div class="row"><div class="col-lg-8 col-lg-offset-2"><div class="modal-body"><!-- Project Details Go Here--><h2>Project Name</h2><p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img src="img/portfolio/golden-preview.png" alt="" class="img-responsive img-centered"><p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.</p><p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.</p><button type="button" data-dismiss="modal" class="btn btn-primary"><i class="fa fa-times"></i> Close Project</button></div></div></div></div></div></div><!-- Portfolio Modal 5--><div id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true" class="portfolio-modal modal fade"><div class="modal-content"><div data-dismiss="modal" class="close-modal"><div class="lr"><div class="rl"></div></div></div><div class="container"><div class="row"><div class="col-lg-8 col-lg-offset-2"><div class="modal-body"><!-- Project Details Go Here--><h2>Project Name</h2><p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p><img src="img/portfolio/escape-preview.png" alt="" class="img-responsive img-centered"><p>Escape is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.</p><p>You can download the PSD template in this portfolio sample item at <a href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.</p><button type="button" data-dismiss="modal" class="btn btn-primary"><i class="fa fa-times"></i> Close Project</button></div></div></div></div></div></div><!-- Portfolio Modal 6--><div id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true" class="portfolio-modal modal fade"><div class="modal-content"><div data-dismiss="modal" class="close-modal"><div class="lr"><div class="rl"></div></div></div><div class="container"><div class="row"><div class="col-lg-8 col-lg-offset-2"><div class="modal-body"><!-- Project Details Go Here--><h2>Photo Credits</h2><button type="button" data-dismiss="modal" class="btn btn-primary"><i class="fa fa-times"></i> Close Credits</button></div></div></div></div></div></div><!-- Start: Footer--><footer><div class="footer-main"><div class="container"><div class="row"><div class="col-md-4"><span class="copyright">Copyright © 2015 - Dave Hampton</span></div><div class="col-md-4"><h5><a href="http://www.jacksonfriggle.com">Genicken Corporation Proudly Supports Jackson Friggle.</a></h5></div><div class="col-md-4"><ul class="list-inline quicklinks"><li><a href="privacy.html">Privacy Policy & Terms of Use</a></li><li><a href="portfolio/photoCredits.html" class="portfolio-link">Photo Credits</a></li><li><a href="index.html#contact">Contact Us</a></li></ul></div></div></div></div><div class="container social-mobile show-mobile-bottom bg-light-gray"><div class="row"><div class="col-md-4 text-right min-padding hidden-xs"><h4>Share <i class="fa fa-arrow-right"></i></h4></div><div class="col-md-4 text-center min-padding"><ul class="list-inline social-buttons"><li><a target="_blank" href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Flocalhost%3A8080%2F&amp;t=Genicken%20" title="Share To Facebook" class="social-button social-facebook"><i class="fa fa-facebook"></i></a></li><li><a target="_blank" href="https://www.twitter.com/share?text=Genicken%20&amp;url=http%3A%2F%2Flocalhost%3A8080%2F" title="Tweet" class="social-button social-twitter"><i class="fa fa-twitter"></i></a></li><li><a target="_blank" href="https://www.reddit.com/submit?url=http%3A%2F%2Flocalhost%3A8080%2F&amp;title=Genicken%20" title="Submit to Reddit" class="social-button social-reddit"><i class="fa fa-reddit"></i></a></li><li><a target="_blank" href="https://plus.google.com/share?url=http%3A%2F%2Flocalhost%3A8080%2F&amp;t=Genicken%20" title="Share To Google+" class="social-button social-google-plus"><i class="fa fa-google-plus"></i></a></li><li><a target="_blank" href="https://www.tumblr.com/share?v=3&amp;u=http%3A%2F%2Flocalhost%3A8080%2F&amp;t=Genicken%20" title="Post to Tumblr" class="social-button social-tumblr"><i class="fa fa-tumblr"></i></a></li><li><a href="mailto:?subject=OMG! This is Awesome: Genicken &amp;body=http://localhost:8080/" title="Email" class="social-button social-envelope"><i class="fa fa-envelope"></i></a></li></ul></div><div class="col-md-4 text-right min-padding hidden-xs"></div></div></div></footer><!-- jQuery--><script src="js/jquery.js"></script><!-- Bootstrap Core JavaScript--><script src="js/bootstrap.min.js"></script><!-- Plugin JavaScript--><script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script><script src="js/classie.js"></script><script src="js/cbpAnimatedHeader.js"></script><!-- Contact Form JavaScript--><script src="js/jqBootstrapValidation.js"></script><script src="js/contact_me.js"></script><!-- Custom Theme JavaScript--><script src="js/agency.js"></script><script src="js/collapsibleLists.min.js"></script><script>CollapsibleLists.apply();
$('ul:first, ul:first ul:first, ul:first ul:first ul:first', '#blogArchive').css('display', 'block')</script></body></html>

views/index.jade
extends layout

block content
  // Header
  header
    .container
      .intro-text
        .intro-lead-in A Bright Future Through Genetic Experimentation
        .intro-heading Genicken
        a.page-scroll.btn.btn-xl(href='#services') Tell Me More
  // Advertising Grid Section
  include includes/midAdUnit.jade
  // Services Section
  section#services
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Services
          h3.section-subheading.text-muted The Future is in Our Hands.
      .row.text-center
        .col-md-4
          span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-flask.fa-stack-1x.fa-inverse
          h4.service-heading Genetic Modification
          p.text-muted
            | We specialize and are FDA approved for the Genetic Modification of Animals for use in human consumption.
        .col-md-4
          span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-rocket.fa-stack-1x.fa-inverse
          h4.service-heading Biological Weaponization
          p.text-muted
            | From weapons grade hamsters to self-detonating badgers, our creations are giving the U.S. Military the tools it needs for world peace.
        .col-md-4
          span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-user-md.fa-stack-1x.fa-inverse
          h4.service-heading Animal Testing
          p.text-muted
            | We're one of the few resources left that will allow you to safely test your products on hapless rabbits.
  // Portfolio Grid Section
  section#portfolio.bg-light-gray
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Projects
          h3.section-subheading.text-muted The World of Genetics is in our hands.
      .row
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='/portfolio/geneticModification')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='img/portfolio/chicken-preview.jpg', alt='')
          .portfolio-caption
            h4 Genetic Modification
            p.text-muted The Future of Chicken
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='/portfolio/weaponsGradeHamsters')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='img/portfolio/hamster-preview.jpg', alt='')
          .portfolio-caption
            h4 Weapons Grade Hamsters
            p.text-muted Giving New Power to Gerbils
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='portfolio/selfDetonatingMammals')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='img/portfolio/badger-preview.jpg', alt='')
          .portfolio-caption
            h4 Self-Detonating Badgers
            p.text-muted Who knew, Right?!
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='/portfolio/geneticTargeting')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='img/portfolio/shopping-preview.jpg', alt='')
          .portfolio-caption
            h4 Genetic Targeting
            p.text-muted We Know Who Is Born To Shop
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='/portfolio/cloning')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='img/portfolio/cloning-preview.jpg', alt='')
          .portfolio-caption
            h4 Cloning
            p.text-muted Again & Again
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='/portfolio/bulkOrganSales')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='img/portfolio/organ-preview.jpg', alt='')
          .portfolio-caption
            h4 Bulk Organ Sales
            p.text-muted Pending Legislation
  // About Section
  section#about
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading About
          h3.section-subheading.text-muted Our Story
      .row
        .col-lg-12
          ul.timeline
            li
              .timeline-image
                img.img-circle.img-responsive(src='img/about/1.jpg', alt='')
              .timeline-panel
                .timeline-heading
                  h4 1951 - 1973
                  h4.subheading Our Humble Beginnings
                .timeline-body
                  p.text-muted
                    | As a lowly chicken farmer in the 1950's, we accidently purchased radiated chicken eggs from a supplier in Nevada. These babies grew at an enormously accelerated rate. It launched our interest and business of augmenting the very DNA of the food we eat.
            li.timeline-inverted
              .timeline-image
                img.img-circle.img-responsive(src='img/about/2.jpg', alt='')
              .timeline-panel
                .timeline-heading
                  h4 1974 - 1981
                  h4.subheading Experiments with Experimentation
                .timeline-body
                  p.text-muted
                    | With the availability of computing, we began to not just experiment, but experiment on our experiments. We mixed and mingled different biological strains with varied genetic strands. We courted with global disaster on the way to breakthrough discoveries.
            li
              .timeline-image
                img.img-circle.img-responsive(src='img/about/3.jpg', alt='')
              .timeline-panel
                .timeline-heading
                  h4 1982 - 1996
                  h4.subheading Breakthrough Discoveries
                .timeline-body
                  p.text-muted
                    | After nearly destroying the planet through failed experiments (twice!) We finally mastered the technique of Genetic Hyper-Splice Mutilization® Now that we could achieve anything, we had to set our corporate mind on our goals.
            li.timeline-inverted
              .timeline-image
                img.img-circle.img-responsive(src='img/about/4.jpg', alt='')
              .timeline-panel
                .timeline-heading
                  h4 1997 - Today
                  h4.subheading Global Domination
                .timeline-body
                  p.text-muted
                    | Today, we are on the forefront of monetizing genetic identification, modification and militarization. We can modify the genetic strucutre of people in situ, convert them into buyers, and then destroy them at will. It truly is A Bright Future.
            li.timeline-inverted
              .timeline-image
                h4
                  | Be Part
                  br
                  | Of Our
                  br
                  | Story!
  // Team Section
  section#team.bg-light-gray
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Our Research Staff
          h3.section-subheading.text-muted Leaders in Innovation.
      .row
        .col-sm-4
          .team-member
            img.img-responsive.img-circle(src='img/team/1.jpg', alt='')
            h4 Chuck "Stallion" Rainey
            p.text-muted Director of Militarization
          //
            ul.list-inline.social-buttons
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-linkedin
        .col-sm-4
          .team-member
            img.img-responsive.img-circle(src='img/team/2.jpg', alt='')
            h4 Dr. Sigmund Oppenganger
            p.text-muted Director of Mutilization Research
          //
            ul.list-inline.social-buttons
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-linkedin
        .col-sm-4
          .team-member
            img.img-responsive.img-circle(src='img/team/3.jpg', alt='')
            h4 Dr. Ivana Wolfspatz
            p.text-muted V.P of In Situ Modification Research
          //
            ul.list-inline.social-buttons
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-linkedin
      .row
        .col-lg-8.col-lg-offset-2.text-center
          p.large.text-muted
            | Interested in working for Genicken? Use the Contact form below to inquire.
            br
            | (DNA Sample Required)
  // Clients Aside
  section.clients
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading.text-lowercase Engineered in 
            span.text-capitalize Alabama
            sup &#174;
          h3.section-subheading.text-muted Proudly Supporting The Future of Alabama.
      //.row
        .col-md-3.col-sm-6
          a(href='#')
            img.img-responsive.img-centered(src='img/logos/envato.jpg', alt='')
        .col-md-3.col-sm-6
          a(href='#')
            img.img-responsive.img-centered(src='img/logos/designmodo.jpg', alt='')
        .col-md-3.col-sm-6
          a(href='#')
            img.img-responsive.img-centered(src='img/logos/themeforest.jpg', alt='')
        .col-md-3.col-sm-6
          a(href='#')
            img.img-responsive.img-centered(src='img/logos/creative-market.jpg', alt='')
  section#contact
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Contact Us
          h3.section-subheading.text-muted We're Probably Already Watching You...
      .row
        .col-lg-12
          form#contactForm(name='sentMessage', role='form', method='post', action='/submit', validate='')
            .row
              .col-md-6
                .form-group
                  input#name.form-control(type='text', placeholder='Your Name *', required='', data-validation-required-message='Please enter your name.')
                  p.help-block.text-danger
                .form-group
                  input#email.form-control(type='email', placeholder='Your Email *', required='', data-validation-required-message='Please enter your email address.')
                  p.help-block.text-danger
                .form-group
                  input#phone.form-control(type='tel', placeholder='Your Phone *', required='', data-validation-required-message='Please enter your phone number.')
                  p.help-block.text-danger
              .col-md-6
                .form-group
                  textarea#message.form-control(placeholder='Your Message *', required='', data-validation-required-message='Please enter a message.')
                  p.help-block.text-danger
              .clearfix
              .col-lg-12.text-center
                !{captcha}
              .clearfix
              .col-lg-12.text-center
                #success
                button.btn.btn-xl(type='submit') Send Message
  // Portfolio Modals
  // Use the modals below to showcase details about your portfolio projects!
  // Portfolio Modal 1
  #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              // Project Details Go Here
              h2 Project Name
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              img.img-responsive(src='img/portfolio/roundicons-free.png', alt='')
              p
                | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
              p
                strong Want these icons in this portfolio item sample?
                | You can download 60 of them for free, courtesy of 
                a(href='https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc') RoundIcons.com
                | , or you can purchase the 1500 icon set 
                a(href='https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc') here
                | .
              ul.list-inline
                li Date: July 2014
                li Client: Round Icons
                li Category: Graphic Design
              button.btn.btn-primary(type='button', data-dismiss='modal')
                i.fa.fa-times
                |  Close Project
  // Portfolio Modal 2
  #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 Project Heading
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              img.img-responsive.img-centered(src='img/portfolio/startup-framework-preview.png', alt='')
              p
                a(href='http://designmodo.com/startup/?u=787') Startup Framework
                |  is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.
              p
                | You can preview Startup Framework 
                a(href='http://designmodo.com/startup/?u=787') here
                | .
              button.btn.btn-primary(type='button', data-dismiss='modal')
                i.fa.fa-times
                |  Close Project
  // Portfolio Modal 3
  #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              // Project Details Go Here
              h2 Project Name
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              img.img-responsive.img-centered(src='img/portfolio/treehouse-preview.png', alt='')
              p
                | Treehouse is a free PSD web template built by 
                a(href='https://www.behance.net/MathavanJaya') Mathavan Jaya
                | . This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.
              p
                | You can download the PSD template in this portfolio sample item at 
                a(href='http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/') FreebiesXpress.com
                | .
              button.btn.btn-primary(type='button', data-dismiss='modal')
                i.fa.fa-times
                |  Close Project
  // Portfolio Modal 4
  #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              // Project Details Go Here
              h2 Project Name
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              img.img-responsive.img-centered(src='img/portfolio/golden-preview.png', alt='')
              p
                | Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by 
                a(href='https://www.behance.net/MathavanJaya') Mathavan Jaya
                | . Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.
              p
                | You can download the PSD template in this portfolio sample item at 
                a(href='http://freebiesxpress.com/gallery/golden-free-one-page-web-template/') FreebiesXpress.com
                | .
              button.btn.btn-primary(type='button', data-dismiss='modal')
                i.fa.fa-times
                |  Close Project
  // Portfolio Modal 5
  #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              // Project Details Go Here
              h2 Project Name
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              img.img-responsive.img-centered(src='img/portfolio/escape-preview.png', alt='')
              p
                | Escape is a free PSD web template built by 
                a(href='https://www.behance.net/MathavanJaya') Mathavan Jaya
                | . Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.
              p
                | You can download the PSD template in this portfolio sample item at 
                a(href='http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/') FreebiesXpress.com
                | .
              button.btn.btn-primary(type='button', data-dismiss='modal')
                i.fa.fa-times
                |  Close Project
  // Portfolio Modal 6
  #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              // Project Details Go Here
              h2 Photo Credits
              button.btn.btn-primary(type='button', data-dismiss='modal')
                i.fa.fa-times
                |  Close Credits
