build/web/privacy.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="description" content=""><meta name="author" content=""><link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png"><link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png"><link rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png"><link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png"><link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png"><link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"><link rel="manifest" href="manifest.json"><meta name="msapplication-TileColor" content="#ffffff"><meta name="msapplication-TileImage" content="/ms-icon-144x144.png"><meta name="theme-color" content="#ffffff"><title>Genicken Corporation</title><!-- Bootstrap Core CSS--><link href="css/bootstrap.min.css" rel="stylesheet"><!-- Custom CSS--><link href="css/agency.css" rel="stylesheet"><!-- Custom Fonts--><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"><!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries--><!-- WARNING: Respond.js doesn't work if you view the page via file://--><!--if lt IE 9script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')--><script async="" src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script></head><body class="home"><!-- Google Tag Manager--><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M6KKPJ');</script><!-- End Google Tag Manager--><nav class="navbar navbar-default navbar-fixed-top"><div class="container"><!-- Get the scrolling to work on home page--><!-- Brand and toggle get grouped for better mobile display--><div class="navbar-header page-scroll"><button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html#page-top" class="navbar-brand page-scroll"><img src="img/Genicken.png"></a></div><!-- Collect the nav links, forms, and other content for toggling--><div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse"><ul class="nav navbar-nav navbar-right"><li class="hidden"><a href="index.html#page-top"></a></li><li><a href="index.html#services" class="page-scroll">Services</a></li><li><a href="index.html#portfolio" class="page-scroll">Projects</a></li><li><a href="index.html#about" class="page-scroll">About</a></li><li><a href="index.html#team" class="page-scroll">Team</a></li><li><a href="index.html#contact" class="page-scroll">Contact</a></li><li><a href="blog.html" class="page-scroll">Confidential</a></li></ul></div><!-- /.navbar-collapse--></div><!-- /.container-fluid--></nav><!-- Start: Main--><div class="miniheader"></div><div class="container"><div class="row"><article class="col-lg-12"><div class="post-header"><h2 class="section-headline"><span>Terms, Conditions & Privacy Policy</span></h2></div><div class="post-entry"><h2 class="section-headline"><span>Web Site Terms and Conditions of Use</span></h2><h3 class="sub-headline">1. Terms</h3>By accessing this web site, you are agreeing to be bound by these 
 web site Terms and Conditions of Use, all applicable laws and regulations, 
 and agree that you are responsible for compliance with any applicable local 
 laws. If you do not agree with any of these terms, you are prohibited from 
 using or accessing this site. The materials contained in this web site are 
 protected by applicable copyright and trade mark law.<br><h3 class="sub-headline">2. Use License</h3><ol type="a"><li>Permission is granted to temporarily download one copy of the materials 
(information or software) on David Hampton's web site for personal, 
non-commercial transitory viewing only. This is the grant of a license, 
not a transfer of title, and under this license you may not:<ol type="i"><li>modify or copy the materials;</li><li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li><li>attempt to decompile or reverse engineer any software contained on David Hampton's web site;</li><li>remove any copyright or other proprietary notations from the materials; or</li><li>transfer the materials to another person or "mirror" the materials on any other server.</li></ol></li><li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by David Hampton at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</li></ol><h3 class="sub-headline">3. Disclaimer</h3><ol type="a"><li>The materials on David Hampton's web site are provided "as is". David Hampton makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, David Hampton does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.</li><li>The materials are for entertainment purposes only. Some stories are altered or fictitious in order to make them more consumable, understandable or enjoyable. Genicken Corp, Jackson Friggle and all other characters are fictional and are used to add an entertaining aspect to some stories, ads, and interactions.</li></ol><h3 class="sub-headline">4. Limitations</h3>In no event shall David Hampton or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on David Hampton's Internet site, even if David Hampton or a David Hampton authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.<br><h3 class="sub-headline">5. Revisions and Errata</h3>The materials appearing on David Hampton's web site could include technical, typographical, or photographic errors. David Hampton does not warrant that any of the materials on its web site are accurate, complete, or current. David Hampton may make changes to the materials contained on its web site at any time without notice. David Hampton does not, however, make any commitment to update the materials.<br><h3 class="sub-headline">6. Links</h3>David Hampton has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by David Hampton of the site. Use of any such linked web site is at the user's own risk.<br><h3 class="sub-headline">7. Site Terms of Use Modifications</h3>David Hampton may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.<br><h3 class="sub-headline">8. Governing Law</h3>Any claim relating to David Hampton's web site shall be governed by the laws of the State of California without regard to its conflict of law provisions.<br>General Terms and Conditions applicable to Use of a Web Site.<br><h2 class="section-headline"><span>Privacy Policy</span></h2>Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.<br><ul><li>Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.</li><li>We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.</li><li>We will only retain personal information as long as necessary for the fulfillment of those purposes.</li><li>We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.</li><li>Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.</li><li>We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.</li><li>We will make readily available to customers information about our policies and practices relating to the management of personal information.</li></ul>We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. </div></article></div></div><!-- Start: Footer--><footer><div class="footer-main"><div class="container"><div class="row"><div class="col-md-4"><span class="copyright">Copyright © 2015 - Dave Hampton</span></div><div class="col-md-4"><h5><a href="http://www.jacksonfriggle.com">Genicken Corporation Proudly Supports Jackson Friggle.</a></h5></div><div class="col-md-4"><ul class="list-inline quicklinks"><li><a href="privacy.html">Privacy Policy & Terms of Use</a></li><li><a href="portfolio/photoCredits.html" class="portfolio-link">Photo Credits</a></li><li><a href="index.html#contact">Contact Us</a></li></ul></div></div></div></div><div class="container social-mobile show-mobile-bottom bg-light-gray"><div class="row"><div class="col-md-4 text-right min-padding hidden-xs"><h4>Share <i class="fa fa-arrow-right"></i></h4></div><div class="col-md-4 text-center min-padding"><ul class="list-inline social-buttons"><li><a target="_blank" href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Flocalhost%3A8080%2Fprivacy&amp;t=Genicken%20-%20Terms%2C%20Conditions%20%26%20Privacy" title="Share To Facebook" class="social-button social-facebook"><i class="fa fa-facebook"></i></a></li><li><a target="_blank" href="https://www.twitter.com/share?text=Genicken%20-%20Terms%2C%20Conditions%20%26%20Privacy&amp;url=http%3A%2F%2Flocalhost%3A8080%2Fprivacy" title="Tweet" class="social-button social-twitter"><i class="fa fa-twitter"></i></a></li><li><a target="_blank" href="https://www.reddit.com/submit?url=http%3A%2F%2Flocalhost%3A8080%2Fprivacy&amp;title=Genicken%20-%20Terms%2C%20Conditions%20%26%20Privacy" title="Submit to Reddit" class="social-button social-reddit"><i class="fa fa-reddit"></i></a></li><li><a target="_blank" href="https://plus.google.com/share?url=http%3A%2F%2Flocalhost%3A8080%2Fprivacy&amp;t=Genicken%20-%20Terms%2C%20Conditions%20%26%20Privacy" title="Share To Google+" class="social-button social-google-plus"><i class="fa fa-google-plus"></i></a></li><li><a target="_blank" href="https://www.tumblr.com/share?v=3&amp;u=http%3A%2F%2Flocalhost%3A8080%2Fprivacy&amp;t=Genicken%20-%20Terms%2C%20Conditions%20%26%20Privacy" title="Post to Tumblr" class="social-button social-tumblr"><i class="fa fa-tumblr"></i></a></li><li><a href="mailto:?subject=OMG! This is Awesome: Genicken - Terms, Conditions &amp; Privacy&amp;body=http://localhost:8080/privacy" title="Email" class="social-button social-envelope"><i class="fa fa-envelope"></i></a></li></ul></div><div class="col-md-4 text-right min-padding hidden-xs"></div></div></div></footer><!-- jQuery--><script src="js/jquery.js"></script><!-- Bootstrap Core JavaScript--><script src="js/bootstrap.min.js"></script><!-- Plugin JavaScript--><script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script><script src="js/classie.js"></script><script src="js/cbpAnimatedHeader.js"></script><!-- Contact Form JavaScript--><script src="js/jqBootstrapValidation.js"></script><script src="js/contact_me.js"></script><!-- Custom Theme JavaScript--><script src="js/agency.js"></script><script src="js/collapsibleLists.min.js"></script><script>CollapsibleLists.apply();
$('ul:first, ul:first ul:first, ul:first ul:first ul:first', '#blogArchive').css('display', 'block')</script></body></html>

views/privacy.jade
extends layout

block content
  // Start: Main
  .miniheader
  .container
    .row
      article.col-lg-12
        .post-header
          h2.section-headline
            span
              | Terms, Conditions & Privacy Policy
        .post-entry
          h2.section-headline
            span
              | Web Site Terms and Conditions of Use
          h3.sub-headline
            | 1. Terms
          | By accessing this web site, you are agreeing to be bound by these 
          |  web site Terms and Conditions of Use, all applicable laws and regulations, 
          |  and agree that you are responsible for compliance with any applicable local 
          |  laws. If you do not agree with any of these terms, you are prohibited from 
          |  using or accessing this site. The materials contained in this web site are 
          |  protected by applicable copyright and trade mark law.
          br
          h3.sub-headline
            | 2. Use License
          ol(type='a')
            li
              | Permission is granted to temporarily download one copy of the materials 
              | (information or software) on David Hampton's web site for personal, 
              | non-commercial transitory viewing only. This is the grant of a license, 
              | not a transfer of title, and under this license you may not:
              ol(type='i')
                li modify or copy the materials;
                li
                  | use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
                li
                  | attempt to decompile or reverse engineer any software contained on David Hampton's web site;
                li remove any copyright or other proprietary notations from the materials; or
                li
                  | transfer the materials to another person or "mirror" the materials on any other server.
            li
              | This license shall automatically terminate if you violate any of these restrictions and may be terminated by David Hampton at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
          h3.sub-headline
            | 3. Disclaimer
          ol(type='a')
            li
              | The materials on David Hampton's web site are provided "as is". David Hampton makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, David Hampton does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
            li
              | The materials are for entertainment purposes only. Some stories are altered or fictitious in order to make them more consumable, understandable or enjoyable. Genicken Corp, Jackson Friggle and all other characters are fictional and are used to add an entertaining aspect to some stories, ads, and interactions.
          h3.sub-headline
            | 4. Limitations
          | In no event shall David Hampton or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on David Hampton's Internet site, even if David Hampton or a David Hampton authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
          br
          h3.sub-headline
            | 5. Revisions and Errata
          | The materials appearing on David Hampton's web site could include technical, typographical, or photographic errors. David Hampton does not warrant that any of the materials on its web site are accurate, complete, or current. David Hampton may make changes to the materials contained on its web site at any time without notice. David Hampton does not, however, make any commitment to update the materials.
          br
          h3.sub-headline
            | 6. Links
          | David Hampton has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by David Hampton of the site. Use of any such linked web site is at the user's own risk.
          br
          h3.sub-headline
            | 7. Site Terms of Use Modifications
          | David Hampton may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
          br
          h3.sub-headline
            | 8. Governing Law
          | Any claim relating to David Hampton's web site shall be governed by the laws of the State of California without regard to its conflict of law provisions.
          br
          | General Terms and Conditions applicable to Use of a Web Site.
          br
          h2.section-headline
            span
              | Privacy Policy
          | Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
          br
          ul
            li
              | Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
            li
              | We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
            li
              | We will only retain personal information as long as necessary for the fulfillment of those purposes.
            li
              | We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
            li
              | Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
            li
              | We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
            li
              | We will make readily available to customers information about our policies and practices relating to the management of personal information.
          | We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. 
