views/posts/2015/09/Cheney - Halliburton Experiment.jade
extends ../../../postLayout
block postImages
  .simple-slider
    .simple-slide
      img.img-responsive(src='/img/posts/2015/09/Cheney.jpg', alt='Cheney Haliburton')
    //.simple-slide
      img(src='/img/posts/2015/09/Blockbuster.jpg', alt='Blockbuster Video')
block postExcerpt
  h2.blog-post-headline Insitu Human-Corporate Hybridization Experiment Phase II
  h3 Experiment Date: 09/08/2008
  h4 Status: 
    button.btn.btn-danger(type="button") FAILURE
  h5 Hypothesis
  p This is our second attempt at insitu hybridization of a Human/Corporate life form. This time we are using an unDead/partially robotic Human donor, Dick Cheney and a Hugely successful Corporation that was arguably made in his own image. 
    | We anticipate that the closer alignment of purpose and goals may alleviate the rejection of the other half by either of the entities.
block postContent
  h5 Initial Results
  p First Off, Dick Cheney is not anywhere near human anymore. He has a large number of robotic/mechanical elements. Portions of his anatomy are no longer in correct place (Liver on the left instead of right; NO kidneys?!; Some Parts look Alien, from our Area-51 involvement) Details are in report IHCHE.C-H.v37268.
  p Secondly, his mass is slightly, but consistently off. The sum of his biological parts ALWAYS weighs 21 grams more than his combined weight. It's not much - but statistically significant. There is also a darkness in his eyes that absorbs all light. It's like a black hole. Most eyes have a reflective quality that causes that "red-eye" in photography. Cheney would never experience that. So that's a plus really.
  p Despite the drastic biological differences, combining him with the Corporate Donor was relatively simple. Especially since Cheney needed no Life Support systems, (pulmonary or respiratory) as he was alive whether those functions worked or not.
  h5 Failure
  p Then, it just didn't work. Case closed. We won't be trying this again.
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  h2.blog-post-headline DEEP CLASSIFICATION LEVEL 10
  h3 Access Requirements: Director Access Only
  h4 Actual Status: 
    button.btn.btn-success(type="button") UNMITIGATED SUCCESS!
  h5 OMG! OMG! OMG! OMG!
  p This is Freaking AMAZING! There is 100% compatibility between these two undead corpses of human flesh and bureaucracy! This thing is firing on all cylinders!
  p We will be able to use the Cheneyburton Beast to influence world politics and economics for the betterment of Genicken. The only down side is that when he smiles he just looks like he is baring his teeth. It's a bit creepy.
  h5 Actions
  ul
    li Re-skin the Cheneyburton Beast as a Vladimir Putin look-a-like using our cloning department
    li Get rid of the current Putin (
      a(href="/portfolio/selfDetonatingMammals") Weaponized Badgers?)
    li Test Military/Leadership skills by invading small country. Ukraine? Wherever. Doesn't really matter.
    li If successful, retarget on mid-east oil to control the flow of oil and direct funds to Genicken.
    li Modify brains of original Researchers to make them believe they were rescuing rabbits.
block prepend postDate
  - var postDateValue = new Date('2015-09-24')
block prepend postTags
  - var tags=['Human', 'Corporate', 'Experimentation']


  

build/web/posts/2015/09/Cheney - Halliburton Experiment.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="description" content=""><meta name="author" content=""><link rel="apple-touch-icon" sizes="57x57" href="../../../apple-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="../../../apple-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="../../../apple-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="../../../apple-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="../../../apple-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="../../../apple-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="../../../apple-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="../../../apple-icon-152x152.png"><link rel="apple-touch-icon" sizes="180x180" href="../../../apple-icon-180x180.png"><link rel="icon" type="image/png" sizes="192x192" href="../../../android-icon-192x192.png"><link rel="icon" type="image/png" sizes="32x32" href="../../../favicon-32x32.png"><link rel="icon" type="image/png" sizes="96x96" href="../../../favicon-96x96.png"><link rel="icon" type="image/png" sizes="16x16" href="../../../favicon-16x16.png"><link rel="manifest" href="../../../manifest.json"><meta name="msapplication-TileColor" content="#ffffff"><meta name="msapplication-TileImage" content="/ms-icon-144x144.png"><meta name="theme-color" content="#ffffff"><title>Genicken Corporation</title><!-- Bootstrap Core CSS--><link href="../../../css/bootstrap.min.css" rel="stylesheet"><!-- Custom CSS--><link href="../../../css/agency.css" rel="stylesheet"><!-- Custom Fonts--><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"><!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries--><!-- WARNING: Respond.js doesn't work if you view the page via file://--><!--if lt IE 9script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')--><script async="" src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script></head><body class="home"><!-- Google Tag Manager--><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M6KKPJ');</script><!-- End Google Tag Manager--><nav class="navbar navbar-default navbar-fixed-top"><div class="container"><!-- Get the scrolling to work on home page--><!-- Brand and toggle get grouped for better mobile display--><div class="navbar-header page-scroll"><button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="../../../index.html#page-top" class="navbar-brand page-scroll"><img src="../../../img/Genicken.png"></a></div><!-- Collect the nav links, forms, and other content for toggling--><div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse"><ul class="nav navbar-nav navbar-right"><li class="hidden"><a href="../../../index.html#page-top"></a></li><li><a href="../../../index.html#services" class="page-scroll">Services</a></li><li><a href="../../../index.html#portfolio" class="page-scroll">Projects</a></li><li><a href="../../../index.html#about" class="page-scroll">About</a></li><li><a href="../../../index.html#team" class="page-scroll">Team</a></li><li><a href="../../../index.html#contact" class="page-scroll">Contact</a></li><li><a href="../../../blog.html" class="page-scroll">Confidential</a></li></ul></div><!-- /.navbar-collapse--></div><!-- /.container-fluid--></nav><!-- Start: Main--><link href="../../../feeds/memos/rss.html" rel="alternate" type="application/rss+xml" title="Follow The Hacked Genicken Classified Memos"><div class="miniheader"></div><main id="main"><div class="page-body"><div class="container"><div class="row"><div class="col-lg-12 text-center"><h2 class="section-heading">Genicken Internal Memo </h2><img src="../../../img/hbm.png" alt="Hacked By Monogamous"><h3 class="section-subheading">CONFIDENTIAL - not for Public Release<br>Hacked by <a href="https://www.facebook.com/MonogamousActivistHackers" alt="Monogamous! unexpected!">Monogamous</a></h3></div></div></div><div class="container"><div class="row"><div class="content col-lg-8"><article class="blog-post"><div class="blog-post-header"><h1 class="blog-post-headline text-center">Cheney - Halliburton Experiment</h1><div class="blog-post-info">Hacked on <time datetime="2015-9-23">Wed Sep 23 2015</time>. <i class="fa fa-comments"></i><a href="Cheney&#32;-&#32;Halliburton&#32;Experiment.html#disqus_thread" class="comments-link"><span data-disqus-identifier="jacksonfriggle" class="disqus-comment-count"></span></a></div></div><div class="blog-post-image"><div class="simple-slider"><div class="simple-slide"><img src="../../../img/posts/2015/09/Cheney.jpg" alt="Cheney Haliburton" class="img-responsive"></div><!--.simple-slideimg(src='/img/posts/2015/09/Blockbuster.jpg', alt='Blockbuster Video')--></div></div><div class="blog-post-content"><h2 class="blog-post-headline">Insitu Human-Corporate Hybridization Experiment Phase II</h2><h3>Experiment Date: 09/08/2008</h3><h4>Status: <button type="button" class="btn btn-danger">FAILURE</button></h4><h5>Hypothesis</h5><p>This is our second attempt at insitu hybridization of a Human/Corporate life form. This time we are using an unDead/partially robotic Human donor, Dick Cheney and a Hugely successful Corporation that was arguably made in his own image. 
We anticipate that the closer alignment of purpose and goals may alleviate the rejection of the other half by either of the entities.</p><h5>Initial Results</h5><p>First Off, Dick Cheney is not anywhere near human anymore. He has a large number of robotic/mechanical elements. Portions of his anatomy are no longer in correct place (Liver on the left instead of right; NO kidneys?!; Some Parts look Alien, from our Area-51 involvement) Details are in report IHCHE.C-H.v37268.</p><p>Secondly, his mass is slightly, but consistently off. The sum of his biological parts ALWAYS weighs 21 grams more than his combined weight. It's not much - but statistically significant. There is also a darkness in his eyes that absorbs all light. It's like a black hole. Most eyes have a reflective quality that causes that "red-eye" in photography. Cheney would never experience that. So that's a plus really.</p><p>Despite the drastic biological differences, combining him with the Corporate Donor was relatively simple. Especially since Cheney needed no Life Support systems, (pulmonary or respiratory) as he was alive whether those functions worked or not.</p><h5>Failure</h5><p>Then, it just didn't work. Case closed. We won't be trying this again.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><h2 class="blog-post-headline">DEEP CLASSIFICATION LEVEL 10</h2><h3>Access Requirements: Director Access Only</h3><h4>Actual Status: <button type="button" class="btn btn-success">UNMITIGATED SUCCESS!</button></h4><h5>OMG! OMG! OMG! OMG!</h5><p>This is Freaking AMAZING! There is 100% compatibility between these two undead corpses of human flesh and bureaucracy! This thing is firing on all cylinders!</p><p>We will be able to use the Cheneyburton Beast to influence world politics and economics for the betterment of Genicken. The only down side is that when he smiles he just looks like he is baring his teeth. It's a bit creepy.</p><h5>Actions</h5><ul><li>Re-skin the Cheneyburton Beast as a Vladimir Putin look-a-like using our cloning department</li><li>Get rid of the current Putin (<a href="../../../portfolio/selfDetonatingMammals.html">Weaponized Badgers?)</a></li><li>Test Military/Leadership skills by invading small country. Ukraine? Wherever. Doesn't really matter.</li><li>If successful, retarget on mid-east oil to control the flow of oil and direct funds to Genicken.</li><li>Modify brains of original Researchers to make them believe they were rescuing rabbits.</li></ul></div><footer class="blog-post-footer"><p class="tags"><i class="fa fa-tag"></i><a href="Cheney&#32;-&#32;Halliburton&#32;Experiment.html#">Human</a>, <a href="Cheney&#32;-&#32;Halliburton&#32;Experiment.html#">Corporate</a>, <a href="Cheney&#32;-&#32;Halliburton&#32;Experiment.html#">Experimentation</a>, </p></footer></article><!-- Start: twoAdUnit--><section id="advertising" class="bg-light-gray"><div class="container"><div class="row"><div class="col-lg-8 text-center"><h2 class="section-heading">Paid Advertising</h2><h3 class="section-subheading text-muted">Because we want to make money from everything we do.</h3></div></div><div class="row"><div class="col-md-4 advertising-item text-center"><!-- Mid Page Left - Genicken--><ins style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-5449524532012541" data-ad-slot="7768556623" class="adsbygoogle"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div><div class="col-md-4 advertising-item text-center"><!-- Mid Page Center - Genicken--><ins style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-5449524532012541" data-ad-slot="9245289822" class="adsbygoogle"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div></div></div></section><!-- End: twoAdUnit--><div class="blog-post-comments"><h3 class="section-headline">Join the Conversation</h3><div id="comments-list"><div id="disqus_thread"></div><script type="text/javascript">/* * * CONFIGURATION VARIABLES * * */
var disqus_shortname = 'jacksonfriggle';
/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();</script></div></div><div class="container nocontent"><div class="row"><div class="col-lg-4 text-center"></div><div class="col-lg-4 text-center"><div class="pagination"><h5>Cage - Blockbuster Experiment</h5><a href="Cage&#32;-&#32;Blockbuster&#32;Experiment.html" class="next page-numbers"><i class="fa fa-caret-right"></i></a></div></div></div></div></div><div class="col-lg-4 bg-light-gray"><div class="widget nocontent"><h4 class="widget-title deco-headline"> <a href="../../../blog.html">Memo Archive</a></h4><div class="widget-content"><ul id="blogArchive" class="widget-list"><li><a href="../../../blog.html">Archive</a><ul class="collapsibleList"><li><a href="Cheney&#32;-&#32;Halliburton&#32;Experiment.html#" onclick="event.preventDefault();">2015</a><ul class="collapsibleList"><li><a href="Cheney&#32;-&#32;Halliburton&#32;Experiment.html#" onclick="event.preventDefault();">09</a><ul class="collapsibleList"><li><a href="Cheney&#32;-&#32;Halliburton&#32;Experiment.html">Cheney - Halliburton Experiment</a></li><li><a href="Cage&#32;-&#32;Blockbuster&#32;Experiment.html">Cage - Blockbuster Experiment</a></li></ul></li></ul></li></ul></li></ul></div></div><div class="col-md-4 advertising-item"><!-- Mid Page Right - Genicken--><ins style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-5449524532012541" data-ad-slot="1722023025" class="adsbygoogle"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div></div></div></div></div></main><script type="text/javascript">/* * * CONFIGURATION VARIABLES * * */
var disqus_shortname = 'jacksonfriggle';
/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
                  </script><!-- End: Main--><!-- Excerpt view--><!-- Start: Footer--><footer><div class="footer-main"><div class="container"><div class="row"><div class="col-md-4"><span class="copyright">Copyright © 2015 - Dave Hampton</span></div><div class="col-md-4"><h5><a href="http://www.jacksonfriggle.com">Genicken Corporation Proudly Supports Jackson Friggle.</a></h5></div><div class="col-md-4"><ul class="list-inline quicklinks"><li><a href="../../../privacy.html">Privacy Policy & Terms of Use</a></li><li><a href="../../../portfolio/photoCredits.html" class="portfolio-link">Photo Credits</a></li><li><a href="../../../index.html#contact">Contact Us</a></li></ul></div></div></div></div><div class="container social-mobile show-mobile-bottom bg-light-gray"><div class="row"><div class="col-md-4 text-right min-padding hidden-xs"><h4>Share <i class="fa fa-arrow-right"></i></h4></div><div class="col-md-4 text-center min-padding"><ul class="list-inline social-buttons"><li><a target="_blank" href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Flocalhost%3A8080%2Fposts%2F2015%2F09%2FCheney%2520-%2520Halliburton%2520Experiment&amp;t=Genicken%20%20-%20Cheney%20-%20Halliburton%20Experiment" title="Share To Facebook" class="social-button social-facebook"><i class="fa fa-facebook"></i></a></li><li><a target="_blank" href="https://www.twitter.com/share?text=Genicken%20%20-%20Cheney%20-%20Halliburton%20Experiment&amp;url=http%3A%2F%2Flocalhost%3A8080%2Fposts%2F2015%2F09%2FCheney%2520-%2520Halliburton%2520Experiment" title="Tweet" class="social-button social-twitter"><i class="fa fa-twitter"></i></a></li><li><a target="_blank" href="https://www.reddit.com/submit?url=http%3A%2F%2Flocalhost%3A8080%2Fposts%2F2015%2F09%2FCheney%2520-%2520Halliburton%2520Experiment&amp;title=Genicken%20%20-%20Cheney%20-%20Halliburton%20Experiment" title="Submit to Reddit" class="social-button social-reddit"><i class="fa fa-reddit"></i></a></li><li><a target="_blank" href="https://plus.google.com/share?url=http%3A%2F%2Flocalhost%3A8080%2Fposts%2F2015%2F09%2FCheney%2520-%2520Halliburton%2520Experiment&amp;t=Genicken%20%20-%20Cheney%20-%20Halliburton%20Experiment" title="Share To Google+" class="social-button social-google-plus"><i class="fa fa-google-plus"></i></a></li><li><a target="_blank" href="https://www.tumblr.com/share?v=3&amp;u=http%3A%2F%2Flocalhost%3A8080%2Fposts%2F2015%2F09%2FCheney%2520-%2520Halliburton%2520Experiment&amp;t=Genicken%20%20-%20Cheney%20-%20Halliburton%20Experiment" title="Post to Tumblr" class="social-button social-tumblr"><i class="fa fa-tumblr"></i></a></li><li><a href="mailto:?subject=OMG! This is Awesome: Genicken  - Cheney - Halliburton Experiment&amp;body=http://localhost:8080/posts/2015/09/Cheney%20-%20Halliburton%20Experiment" title="Email" class="social-button social-envelope"><i class="fa fa-envelope"></i></a></li></ul></div><div class="col-md-4 text-right min-padding hidden-xs"></div></div></div></footer><!-- jQuery--><script src="../../../js/jquery.js"></script><!-- Bootstrap Core JavaScript--><script src="../../../js/bootstrap.min.js"></script><!-- Plugin JavaScript--><script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script><script src="../../../js/classie.js"></script><script src="../../../js/cbpAnimatedHeader.js"></script><!-- Contact Form JavaScript--><script src="../../../js/jqBootstrapValidation.js"></script><script src="../../../js/contact_me.js"></script><!-- Custom Theme JavaScript--><script src="../../../js/agency.js"></script><script src="../../../js/collapsibleLists.min.js"></script><script>CollapsibleLists.apply();
$('ul:first, ul:first ul:first, ul:first ul:first ul:first', '#blogArchive').css('display', 'block')</script></body></html>
