views/portfolio/weaponsGradeHamsters.jade
extends ../layout

block content
  // Start: Main
  .miniheader
  include ../includes/midAdUnit.jade
  section#project
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Weapons Grade Hamsters 
          h3.section-subheading.text-muted Let's let the animals do the dirty work.
          img.img-responsive.img-centered(src='/img/portfolio/hamster.jpg', alt='')
      .row
        .col-lg-12
          h4 The Goal:
          p
            | Why should our brave soldiers put themselves in harms way when a fully trained 
            | and instinctively lethal hamster could do the job?
          br
          h4 The Science:
          p 
            | We've been able to cross-breed Hamsters with Genetic Material from Ghengis Khan, giving them the mindset of 
            | world domination. Additionally, we've augmented their learning centers to give them a specific military skill set:
            ul
              li Sniper
              li Hand to Paw combat
              li Bomb deployment
              li Missle Guidance
              li and more!
          br
          h4 The Results:
          p
            | These powerful gerbils are transforming the United States Military into a tiny fighting force that keeps
            | actual human beings out of harms way.

build/web/portfolio/weaponsGradeHamsters.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="description" content=""><meta name="author" content=""><link rel="apple-touch-icon" sizes="57x57" href="../apple-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="../apple-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="../apple-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="../apple-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="../apple-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="../apple-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="../apple-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="../apple-icon-152x152.png"><link rel="apple-touch-icon" sizes="180x180" href="../apple-icon-180x180.png"><link rel="icon" type="image/png" sizes="192x192" href="../android-icon-192x192.png"><link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png"><link rel="icon" type="image/png" sizes="96x96" href="../favicon-96x96.png"><link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png"><link rel="manifest" href="../manifest.json"><meta name="msapplication-TileColor" content="#ffffff"><meta name="msapplication-TileImage" content="/ms-icon-144x144.png"><meta name="theme-color" content="#ffffff"><title>Genicken Corporation</title><!-- Bootstrap Core CSS--><link href="../css/bootstrap.min.css" rel="stylesheet"><!-- Custom CSS--><link href="../css/agency.css" rel="stylesheet"><!-- Custom Fonts--><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css"><link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"><!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries--><!-- WARNING: Respond.js doesn't work if you view the page via file://--><!--if lt IE 9script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')--><script async="" src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script></head><body class="home"><!-- Google Tag Manager--><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M6KKPJ');</script><!-- End Google Tag Manager--><nav class="navbar navbar-default navbar-fixed-top"><div class="container"><!-- Get the scrolling to work on home page--><!-- Brand and toggle get grouped for better mobile display--><div class="navbar-header page-scroll"><button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="../index.html#page-top" class="navbar-brand page-scroll"><img src="../img/Genicken.png"></a></div><!-- Collect the nav links, forms, and other content for toggling--><div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse"><ul class="nav navbar-nav navbar-right"><li class="hidden"><a href="../index.html#page-top"></a></li><li><a href="../index.html#services" class="page-scroll">Services</a></li><li><a href="../index.html#portfolio" class="page-scroll">Projects</a></li><li><a href="../index.html#about" class="page-scroll">About</a></li><li><a href="../index.html#team" class="page-scroll">Team</a></li><li><a href="../index.html#contact" class="page-scroll">Contact</a></li><li><a href="../blog.html" class="page-scroll">Confidential</a></li></ul></div><!-- /.navbar-collapse--></div><!-- /.container-fluid--></nav><!-- Start: Main--><div class="miniheader"></div><!-- Start: Mid Ad Grid--><!-- Advertising Grid Section--><section id="advertising" class="bg-light-gray"><div class="container"><div class="row"><div class="col-lg-12 text-center"><h2 class="section-heading">Paid Advertising</h2><h3 class="section-subheading text-muted">Because we want to make money from everything we do.</h3></div></div><div class="row"><div class="col-md-4 advertising-item"><!-- Mid Page Left - Genicken--><ins style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-5449524532012541" data-ad-slot="7768556623" class="adsbygoogle"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div><div class="col-md-4 advertising-item"><!-- Mid Page Center - Genicken--><ins style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-5449524532012541" data-ad-slot="9245289822" class="adsbygoogle"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div><div class="col-md-4 advertising-item"><!-- Mid Page Right - Genicken--><ins style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-5449524532012541" data-ad-slot="1722023025" class="adsbygoogle"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});
</script></div></div></div></section><!-- End: Mid Ad Grid--><section id="project"><div class="container"><div class="row"><div class="col-lg-12 text-center"><h2 class="section-heading">Weapons Grade Hamsters </h2><h3 class="section-subheading text-muted">Let's let the animals do the dirty work.</h3><img src="../img/portfolio/hamster.jpg" alt="" class="img-responsive img-centered"></div></div><div class="row"><div class="col-lg-12"><h4>The Goal:</h4><p>Why should our brave soldiers put themselves in harms way when a fully trained 
and instinctively lethal hamster could do the job?</p><br><h4>The Science:</h4><p> 
We've been able to cross-breed Hamsters with Genetic Material from Ghengis Khan, giving them the mindset of 
world domination. Additionally, we've augmented their learning centers to give them a specific military skill set:<ul><li>Sniper</li><li>Hand to Paw combat</li><li>Bomb deployment</li><li>Missle Guidance</li><li>and more!</li></ul></p><br><h4>The Results:</h4><p>These powerful gerbils are transforming the United States Military into a tiny fighting force that keeps
actual human beings out of harms way.</p></div></div></div></section><!-- Start: Footer--><footer><div class="footer-main"><div class="container"><div class="row"><div class="col-md-4"><span class="copyright">Copyright © 2015 - Dave Hampton</span></div><div class="col-md-4"><h5><a href="http://www.jacksonfriggle.com">Genicken Corporation Proudly Supports Jackson Friggle.</a></h5></div><div class="col-md-4"><ul class="list-inline quicklinks"><li><a href="../privacy.html">Privacy Policy & Terms of Use</a></li><li><a href="photoCredits.html" class="portfolio-link">Photo Credits</a></li><li><a href="../index.html#contact">Contact Us</a></li></ul></div></div></div></div><div class="container social-mobile show-mobile-bottom bg-light-gray"><div class="row"><div class="col-md-4 text-right min-padding hidden-xs"><h4>Share <i class="fa fa-arrow-right"></i></h4></div><div class="col-md-4 text-center min-padding"><ul class="list-inline social-buttons"><li><a target="_blank" href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Flocalhost%3A8080%2Fportfolio%2FweaponsGradeHamsters&amp;t=Genicken%20%3A%20weaponsGradeHamsters" title="Share To Facebook" class="social-button social-facebook"><i class="fa fa-facebook"></i></a></li><li><a target="_blank" href="https://www.twitter.com/share?text=Genicken%20%3A%20weaponsGradeHamsters&amp;url=http%3A%2F%2Flocalhost%3A8080%2Fportfolio%2FweaponsGradeHamsters" title="Tweet" class="social-button social-twitter"><i class="fa fa-twitter"></i></a></li><li><a target="_blank" href="https://www.reddit.com/submit?url=http%3A%2F%2Flocalhost%3A8080%2Fportfolio%2FweaponsGradeHamsters&amp;title=Genicken%20%3A%20weaponsGradeHamsters" title="Submit to Reddit" class="social-button social-reddit"><i class="fa fa-reddit"></i></a></li><li><a target="_blank" href="https://plus.google.com/share?url=http%3A%2F%2Flocalhost%3A8080%2Fportfolio%2FweaponsGradeHamsters&amp;t=Genicken%20%3A%20weaponsGradeHamsters" title="Share To Google+" class="social-button social-google-plus"><i class="fa fa-google-plus"></i></a></li><li><a target="_blank" href="https://www.tumblr.com/share?v=3&amp;u=http%3A%2F%2Flocalhost%3A8080%2Fportfolio%2FweaponsGradeHamsters&amp;t=Genicken%20%3A%20weaponsGradeHamsters" title="Post to Tumblr" class="social-button social-tumblr"><i class="fa fa-tumblr"></i></a></li><li><a href="mailto:?subject=OMG! This is Awesome: Genicken : weaponsGradeHamsters&amp;body=http://localhost:8080/portfolio/weaponsGradeHamsters" title="Email" class="social-button social-envelope"><i class="fa fa-envelope"></i></a></li></ul></div><div class="col-md-4 text-right min-padding hidden-xs"></div></div></div></footer><!-- jQuery--><script src="../js/jquery.js"></script><!-- Bootstrap Core JavaScript--><script src="../js/bootstrap.min.js"></script><!-- Plugin JavaScript--><script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script><script src="../js/classie.js"></script><script src="../js/cbpAnimatedHeader.js"></script><!-- Contact Form JavaScript--><script src="../js/jqBootstrapValidation.js"></script><script src="../js/contact_me.js"></script><!-- Custom Theme JavaScript--><script src="../js/agency.js"></script><script src="../js/collapsibleLists.min.js"></script><script>CollapsibleLists.apply();
$('ul:first, ul:first ul:first, ul:first ul:first ul:first', '#blogArchive').css('display', 'block')</script></body></html>
